<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- 등록 -->
	<select id="sequence" resultType="int">
		select board_seq.nextval from dual
	</select>
	<insert id="insert">
		 insert into board(
		 		board_id, board_category, board_writer,
		 		board_title, board_content
		  	) values(
		  		#{boardId}, #{boardCategory}, #{boardWriter},
		  		#{boardTitle}, #{boardContent}
		  	)
	</insert>
	<select id="selectList" resultType="boardDto">
		select * from board
		ORDER BY board_wtime DESC, board_id DESC
	</select>
	
	<select id="selectBoardList" resultType="boardlistVO">
		select 
			b.board_id, b.board_category, b.board_writer, b.board_title, b.board_wtime, b.board_admin_check,
			m.member_nickname
			from board b
		left outer join member m on board_writer = member_id
		ORDER BY board_wtime DESC, board_id DESC
	</select>
	
	
	<select id="selectOne" resultType="boardDto">
		select * from board
		where board_id = #{boardId}
	</select>	
	
	<!-- 수정 -->
	<update id="update" parameterType="BoardDto">
	    update board set
	        board_category = #{boardCategory},
	        board_title = #{boardTitle},
	        board_content = #{boardContent}
	    where board_id = #{boardId}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
    	delete from board where board_id = #{value}
	</delete>
</mapper>