<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 등록 -->
	<insert id="insert">
		insert into member(
			member_id, member_pw, member_nickname, member_email
		) values(
		 #{memberId}, #{memberPw}, #{memberNickname}, #{memberEmail}
		) 
	</insert>
	
	<!-- 조회 -->
	<select id="selectList" resultType="memberDto">
		select * from member order by member_join desc
	</select>
	
	<select id="selectListWithPaging" resultType="memberDto">
		select * from (
			select rownum rn, TMP.* from(
				select * from member
				order by member_join desc
			) TMP
		) where rn between #{begin} and #{end}
	</select>
	<select id="count" resultType="int">
		select count(*) from member
	</select>
	
	<!-- 상세조회 -->
	<select id="detail" resultType="memberDto">
		select * from member where member_id = #{memberId}
	</select> 
	
	<!-- 상세조회 by 닉네임 -->
	<select id="detailByNickname" resultType="memberDto">
		select * from member where member_nickname = #{memberNickname}
	</select> 
	
	<!-- 검색 (관리자 제외)-->
	<select id="selectSearchList" parameterType="map" resultType="MemberDto">
		select * from (
		select rownum rn, TMP.* from(
		select * from member
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="type == 'memberId'">
						and member_id LIKE '%' || #{keyword} || '%'
					</when>
					
					<when test="type == 'memberNickname'">
						and member_nickname LIKE '%' || #{keyword} || '%'
					</when>
					
					<when test="type == 'memberLevel'">
						and member_level = #{keyword}
					</when>
				</choose>
			</if>
		</where>
		order by member_join desc
				) TMP
		) where rn between #{pageVO.begin} and #{pageVO.end}
	</select>
	<select id="countSearchMember" resultType="int">
	    select count(*) from member
    	<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="type == 'memberId'">
						and member_id LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'memberNickname'">
						and member_nickname LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'memberLevel'">
						and member_level = #{keyword}
					</when>
				</choose>
			</if>
		</where>
	</select>
	
	<!-- 수정 : 회원등급 수정 -->
	<update id="updateMemberLevel">
		update member set member_level = #{memberLevel}
		where member_id = #{memberId}
	</update>


	<!-- 삭제 -->
	<delete id="delete">
		delete member where member_id = #{memberId}
	</delete>
	
	
</mapper>