<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 등록 -->
	<insert id="insert">
		insert into member(
			member_id, member_pw, member_nickname, member_email
		) values(
		 #{memberId}, #{memberPw}, #{memberNickname}, #{memberEmail}
		) 
	</insert>
	
	<!-- 조회 -->
	<select id="selectList" resultType="memberDto">
		select * from member order by member_join desc
	</select>
	
	<!-- 상세조회 -->
	<select id="detail" resultType="memberDto">
		select * from member where member_id = #{memberId}
	</select> 
	
	<!-- 상세조회 by 닉네임 -->
	<select id="detailByNickname" resultType="memberDto">
		select * from member where member_nickname = #{memberNickname}
	</select> 
	
	<!-- 삭제 -->
	<delete id="delete">
		delete member where member_id = #{memberId}
	</delete>
	
	
</mapper>