<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="streamerWith">
	
	<!-- 같이 CK 참여했던 스트리머 -->
	<select id="withCk" resultType="streamerWithCkVO">
		select * from (
			select origin.*,
			count(*) over() as total_count,
			row_number() over(order by origin.play_count desc,
                         	 origin.win_count desc,
                         	 origin.partner_name asc) as rn
		from (
			   select
			       p2.ck_streamer as partner_no,
			       s.streamer_name as partner_name,
			       s.streamer_soop_id as partner_soop_id,
				   count(*) as play_count,
			       sum(case when c.ck_winner = p1.ck_side then 1
			           else 0 end) as win_count,
				sum(case when c.ck_winner != p1.ck_side then 1
			           else 0 end) as lose_count
			   from ck_participant p1
			   join ck_participant p2
			       on p1.ck_id = p2.ck_id
			      and p1.ck_side = p2.ck_side
			      and p1.ck_streamer != p2.ck_streamer
			   join ck c
			       on p1.ck_id = c.ck_id
			   join streamer s
			       on p2.ck_streamer = s.streamer_no
			   where p1.ck_streamer = #{keyword}
			   <if test="searchKeyword != null and searchKeyword != ''">
				    and lower(s.streamer_name) like '%' || lower(#{searchKeyword}) || '%'
				</if>
			   group by
			       p2.ck_streamer,
			       s.streamer_name,
			       s.streamer_soop_id
			  ) origin
		)
		where rn between #{begin} and #{end}
		order by rn
	</select>

	<!-- 같이 대회 참여했던 스트리머 -->
	<!-- 멸망전, 우승 여부추가 -->
	<select id="withTournament" resultType="StreamerWithTournamentVO">
		select * from (
			select origin.*,
			count(*) over() as total_count,
			row_number() over(order by origin.play_count desc,
		                       	 origin.partner_name asc) as rn
			from (select
					tm2.streamer_no as partner_no,
					s.streamer_name as partner_name,
					s.streamer_soop_id as partner_soop_id,
					count(*) as play_count,
					
					max(case when tr.tournament_name like '%멸망전%' then 'Y' else 'N' end) as withOfficial,
					max(case when t.team_ranking like '우승' then 'Y' else 'N' end) as withChampion,
					max(case when t.team_ranking like '준우승' then 'Y' else 'N' end) as withFinal
				from team_member tm1
				join team_member tm2
					on tm1.team_id = tm2.team_id
					and tm1.streamer_no != tm2.streamer_no
				join streamer s
					on tm2.streamer_no = s.streamer_no
				join team t
		        	on tm1.team_id = t.team_id
			   	join tournament tr
			       on t.tournament_id = tr.tournament_id
				where tm1.streamer_no = #{keyword}
				<if test="searchKeyword != null and searchKeyword != ''">
				    and lower(s.streamer_name) like '%' || lower(#{searchKeyword}) || '%'
				</if>
				group by
					tm2.streamer_no,
					s.streamer_name,
					s.streamer_soop_id
				) origin
		)
		where rn between #{begin} and #{end}
		order by rn
	</select>
	
	
	<select id="withTournamentDetail" resultType="streamerWithTournamentDetailVO">
	    select
	        t.team_name as teamName,
	        tl.tournament_id as tournamentId,
	        tl.tournament_year as tournamentYear,
	        tl.tournament_name as tournamentName,
	        t.team_ranking as teamRanking
	    from team_member tm1
	        join team_member tm2
	            on tm1.team_id = tm2.team_id
	        join team t
	            on tm1.team_id = t.team_id
	        left outer join tournament_list tl
	            on t.tournament_id = tl.tournament_id
	    where tm1.streamer_no = #{streamerNo}
	      and tm2.streamer_no = #{partnerNo}
	    order by tournamentYear desc
	</select>

	

</mapper>