<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="streamer">
	
	<!-- 등록 -->
	<select id="sequence" resultType="int">
		select streamer_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into streamer(
			streamer_no, streamer_soop_id, streamer_name
		)
		values(
			#{streamerNo}, #{streamerSoopId}, #{streamerName}
		)
	</insert>

	<!-- 인원수 Count -->
	<select id="count" resultType="int">
		select count(*) from streamer
	</select>

	<!-- 조회 -->
	<select id="selectList" resultType="StreamerStatVO">
	select * from (
		select rownum rn, TMP.* from(
			select * from streamer_stat_list
			order by official_ranking1 desc, official_ranking2 desc,
					official_ranking1 desc, streamer_name asc
			) TMP
	) where rn between #{begin} and #{end}
	</select>
	<!-- 조회 -->
	<select id="selectTotalRankingList" resultType="StreamerStatVO">
	select * from (
		select rownum rn, TMP.* from(
			select * from streamer_stat_list
			order by total_ranking1 desc, total_ranking2 desc,
				total_ranking1 desc, streamer_name asc
		) TMP
	) where rn between #{begin} and #{end}
	</select>
	
	<!-- 상세조회 -->
	<select id="selectOne" resultType="StreamerDto">
		select * from streamer
		where streamer_no = #{streamerNo}
	</select>
	
	<!-- 상세조회 -->
	<select id="selectOnePlusStat" resultType="StreamerStatVO">
	    select ssl.*,
	        NVL(ck_stat.ck_play_count, 0) as ck_play_count,
	        NVL(ck_stat.ck_win_count, 0) as ck_win_count,
	        NVL(ck_stat.ck_lose_count, 0) as ck_lose_count,
	        NVL(ck_stat.ck_win_rate, 0) as ck_win_rate,
	        NVL(cs.current_streak, 0) as current_streak,
        	cs.current_result as current_result
	    from streamer_stat_list ssl
	    left join (select  cp.ck_streamer as streamer_no,
					count(*) as ck_play_count,
					sum(case when c.ck_winner = cp.ck_side THEN 1 ELSE 0 END) as ck_win_count,
					sum(case when c.ck_winner &lt;&gt; cp.ck_side THEN 1 ELSE 0 END) as ck_lose_count,
	            	round(sum(case when c.ck_winner = cp.ck_side THEN 1 ELSE 0 END)/ NULLIF(COUNT(*), 0)* 100,1) as ck_win_rate
		        from ck_participant cp
		        join ck c on c.ck_id = cp.ck_id
		        where cp.ck_streamer = #{streamerNo}
			    group by cp.ck_streamer) ck_stat ON ck_stat.streamer_no = ssl.streamer_no
		left join ck_streak cs on cs.streamer_no = ssl.streamer_no
	    where ssl.streamer_no = #{streamerNo}
	</select>
	
	<!-- 체크용 : 스트리머명으로 조회 -->
	<select id="selectByStreamerName" resultType="streamerDto">
		select * from streamer
		where streamer_name=#{streamerName}
	</select>
	

	<!-- 수정 -->
	<update id="update">
		update streamer 
		set streamer_soop_id=#{streamerSoopId},
			streamer_name=#{streamerName}
		where streamer_no = #{streamerNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete streamer where streamerNo = #{streamerNo}
	</delete>
	
	<!-- 검색 -->
	<select id="searchStreamer" resultType="StreamerStatVO">
	select * from (
		select rownum rn, TMP.* from(
			select * from streamer_stat_list
			where streamer_name LIKE '%' || #{keyword} || '%'
			order by official_ranking1 desc, official_ranking2 desc,
					official_ranking1 desc, streamer_name asc
		) TMP
	) where rn between #{begin} and #{end}
	</select>
	<!-- 인원수 Count -->
	<select id="searchCount" resultType="int">
		select count(*) from streamer
		where streamer_name LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 자동완성 조회-->
	<select id="autoSearch" resultType="StreamerDto">
		select * from streamer
		where lower(streamer_name) like '%' || lower(#{keyword}) || '%'
		or lower(streamer_soop_id) like '%' || lower(#{keyword}) || '%'
	</select>
	

</mapper>