<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="streamer">
	
	<!-- 등록 -->
	<select id="sequence" resultType="int">
		select streamer_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into streamer(
			streamer_no, streamer_soop_id, streamer_name
		)
		values(
			#{streamerNo}, #{streamerSoopId}, #{streamerName}
		)
	</insert>

	<!-- 인원수 Count -->
	<select id="count" resultType="int">
		select count(*) from streamer
	</select>

	<!-- 조회 -->
	<select id="selectList" resultType="StreamerStatVO">
	select * from (
		select rownum rn, TMP.* from(
			select * from streamer_stat_list
			order by official_ranking1 desc, official_ranking2 desc,
					official_ranking1 desc, streamer_name asc
			) TMP
	) where rn between #{begin} and #{end}
	</select>
	<!-- 조회 -->
	<select id="selectTotalRankingList" resultType="StreamerStatVO">
	select * from (
		select rownum rn, TMP.* from(
			select * from streamer_stat_list
			order by total_ranking1 desc, total_ranking2 desc,
				total_ranking1 desc, streamer_name asc
		) TMP
	) where rn between #{begin} and #{end}
	</select>
	
	<!-- 상세조회 -->
	<select id="selectOne" resultType="StreamerDto">
		select * from streamer
		where streamer_no = #{streamerNo}
	</select>
	
	<!-- 상세조회 -->
	<select id="selectOnePlusStat" resultType="StreamerStatVO">
		select * from streamer_stat_list
		where streamer_no = #{streamerNo}
	</select>
	
	<!-- 체크용 : 스트리머명으로 조회 -->
	<select id="selectByStreamerName" resultType="streamerDto">
		select * from streamer
		where streamer_name=#{streamerName}
	</select>
	

	<!-- 수정 -->
	<update id="update">
		update streamer 
		set streamer_soop_id=#{streamerSoopId},
			streamer_name=#{streamerName}
		where streamer_no = #{streamerNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete streamer where streamerNo = #{streamerNo}
	</delete>
	
	<!-- 검색 -->
	<select id="searchStreamer" resultType="StreamerStatVO">
	select * from (
		select rownum rn, TMP.* from(
			select * from streamer_stat_list
			where streamer_name LIKE '%' || #{keyword} || '%'
			order by official_ranking1 desc, official_ranking2 desc,
					official_ranking1 desc, streamer_name asc
		) TMP
	) where rn between #{begin} and #{end}
	</select>
	<!-- 인원수 Count -->
	<select id="searchCount" resultType="int">
		select count(*) from streamer
		where streamer_name LIKE '%' || #{keyword} || '%'
	</select>
	

</mapper>