<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="streamer">
	
	<!-- 등록 -->
	<select id="sequence" resultType="int">
		select streamer_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into streamer(
			streamer_no, streamer_soop_id, streamer_name
		)
		values(
			#{streamerNo}, #{streamerSoopId}, #{streamerName}
		)
	</insert>

	<!-- 조회 -->
	<select id="selectList" resultType="StreamerStatVO">
		select * from streamer_stat_list order by streamer_no
	</select>
	
	
	
	<!-- 상세조회 -->
	<select id="selectOne" resultType="streamerDto">
		select * from streamer
		where streamer_no = #{streamerNo}
	</select>
	
	<!-- 체크용 : 스트리머명으로 조회 -->
	<select id="selectByStreamerName" resultType="streamerDto">
		select * from streamer
		where streamer_name=#{streamerName}
	</select>
	

	<!-- 수정 -->
	<update id="update">
		update streamer 
		set streamer_soop_id=#{streamerSoopId},
			streamer_name=#{streamerName},
			streamer_profile_url=#{streamerProfileUrl}
		where streamer_no = #{streamerNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete where streamerNo = #{streamerNo}
	</delete>

</mapper>