<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">
	
	<!-- 등록 -->
	<select id="sequence" resultType="int">
		select team_seq.nextval from dual
	</select>
	<insert id="insert">
		insert into team(
			team_id, tournament_id, team_name,
			team_top, team_jug, team_mid, team_ad, team_sup,
			team_ranking, team_note
		)
		values(
			#{teamId}, #{tournamentId}, #{teamName}, 
			#{teamTop}, #{teamJug}, #{teamMid}, #{teamAd}, #{teamSup},     
			#{teamRanking}, #{teamNote}  
		)
	</insert>

	
	<!-- 대회별 팀 상세조회 -->
	<select id="selectListByTournamentId" resultType="teamListVO">
		select * from team_list
		where tournament_id = #{tournamentId}
		<!-- order by tournament_year  -->
	</select>
	
	<!-- 인원별 팀 상세조회 -->
	<select id="selectListByStreamerNo" resultType="streamerTeamListVO">
		select * from streamer_team_list
		where team_top = #{streamerNo}
			or team_jug = #{streamerNo} or team_mid = #{streamerNo}
			or team_ad = #{streamerNo} or team_sup = #{streamerNo}
		order by tournament_year desc, tournament_id desc
	</select>


</mapper>