<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visit">

	<!-- 등록 -->
	<insert id="insert">
		insert into visitor(
			visit_date, visitor_id
		) values (
			TRUNC(CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE)),
			#{visitorId}
		)
	</insert>

	<!-- 로그인 성공시 로그인상태 수정 -->
	<update id="updateLogin">
		update visitor set is_login = 'Y'
		where visit_date = TRUNC(CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE))
			and visitor_id = #{visitorId}
	</update>
	
	<!-- 관리자용 방문통계 확인 -->
	<select id="selectList" resultType="VisitListVO">
		select * from visit_daily
		order by visit_date desc
	</select>


</mapper>