<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visit">

	<!-- 등록 -->
	<insert id="insert">
		insert into visitor(
			visit_date, visitor_id
		) values (
			TRUNC(CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE)),
			#{visitorId}
		)
	</insert>

	<!-- 로그인 성공시 로그인상태 수정 -->
	<update id="updateLogin">
		update visitor set is_login = 'Y'
		where visit_date = TRUNC(CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE))
			and visitor_id = #{visitorId}
	</update>
	
	<!-- 관리자용 방문통계 확인 -->
	<!-- 월간 -->
	<select id="selectMonth" resultType="VisitListVO">
		select * from visit_daily
		where visit_date >= to_date(#{month},'YYYY-MM')
			and visit_date &lt; add_months(to_date(#{month},'YYYY-MM'),1)
		order by visit_date desc
	</select>
	<!-- 연간 -->
	<select id="selectYear" resultType="VisitListVO">
	    select
	        to_char(visit_date, 'YYYY-MM') as visit_date,
	        sum(visit_count) as visit_count,
	        sum(visit_login) as visit_login
	    from visit_daily
	    where visit_date >= to_date(#{year}, 'YYYY')
	      and visit_date &lt; add_months(to_date(#{year}, 'YYYY'), 12)
	    group by to_char(visit_date, 'YYYY-MM')
	    order by visit_date desc
	</select>

	<!-- 기능별 이용횟수 증가 -->
	<update id="increaseUse">
		merge into visit use v
		using dual on (
			v.use_date = TRUNC(CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE))
			and v.use_type = #{value}
		)
		when matched then
			update set v.use_count = v.use_count + 1
		when not matched then
			insert(use_date, use_type, use_count)
			values(TRUNC(CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE)),#{value},1)
	</update>
	
	<!-- 관리자용 기능별 통계 조회 -->
    <select id="selectUseList" resultType="VisitUseDto">
        select *
        from visit_use
        order by use_date desc, use_count desc
    </select>

</mapper>